$content-padding-size: 40px;
$avatar-font-color: #002D4F;
$content-font-color: #00124F;
$menu-font-color: #4C6C83;
$border-color: #E5E9ED;
$border-radius: 5px;

/* Pages */
$content-page-bg-color: #F4F9FC;
$content-page-padding: 40px 70px;

/* Button */
$cobiro-button-font-color: #FFF;
$cobiro-button-font-size: 14px;
$cobiro-button-color: #0087EF;
$cobiro-button-disabled-color: #CCC;
$cobiro-button-border-radius: $border-radius;
$cobiro-button-padding: 10px 30px;

/* Text Inputs */
$input-bg-color: #FFF;
$input-border: 1px solid $border-color;
$input-border-radius: $border-radius;
$input-height: 40px;
$input-font-size: 14px;
$input-line-height: 17px;
$input-placeholder-color: #4C6C83;
