$content-padding-size: 40px;
$avatar-font-color: #002D4F;
$content-font-color: #00124F;
$menu-font-color: #4C6C83;
$border-color: #E5E9ED;
$content-page-bg-color: #F4F9FC;

/* Button */
$cobiro-button-font-color: #FFF;
$cobiro-button-font-size: 14px;
$cobiro-button-color: #0087EF;
$cobiro-button-disabled-color: #CCC;
$cobiro-button-border-radius: 5px;
$cobiro-button-padding: 10px 30px;
