$cobiro-content-padding-size: 40px;
$cobiro-avatar-font-color: #002D4F;
$cobiro-content-font-color: #00124F;
$cobiro-menu-font-color: #4C6C83;
$cobiro-border-color: #E5E9ED;
$cabiro-border-radius: 5px;
$cabiro-border: 1px solid $cobiro-border-color;

/* Pages */
$content-page-bg-color: #F4F9FC;
$content-page-padding: 40px 70px;

/* Button */
$primary-button-font-color: #FFF;
$primary-button-font-size: 14px;
$primary-button-color: #0087EF;
$primary-button-disabled-color: #CCC;
$primary-button-border-radius: $cabiro-border-radius;
$primary-button-padding: 10px 30px;

/* Text Inputs */
$input-bg-color: #FFF;
$input-border: $cabiro-border;
$input-border-radius: $cabiro-border-radius;
$input-height: 40px;
$input-font-size: 14px;
$input-line-height: 17px;
$input-placeholder-color: #4C6C83;

/* Card */
$card-bg-color: #FFF;
$card-border: $cabiro-border;
$card-border-radius: $cabiro-border-radius;
$card-content-padding: 20px
