@import "src/styles/variables";

:host {

  border-bottom: 1px solid $cobiro-border-color;

  > div {
    /* Sizing */
    height: 64px;
    padding: 10px $cobiro-content-padding-size;

    display: flex;
    flex-direction: row;
    align-items: center;

    .fill-out-space {
      flex: 1;
    }

    .user-profile-info {
      /* Sizing */
      height: 32px;

      /* Vertical center align for inlines */
      line-height: 32px;

      display: flex;
      flex-direction: row;

      color: $cobiro-avatar-font-color;
      font-size: 14px;

      /* Don't change cursor over text */
      cursor: default;

      .user-profile-info-name {
        margin-left: 5px;

        /* Prevent from braking user names with whitespaces */
        white-space: nowrap;
      }

      .user-profile-info-avatar {
        height: inherit;
        border-radius: 50%;
        border: 1px solid $cobiro-avatar-font-color;
      }

      .user-profile-info-menu-button {
        cursor: pointer;

        /* Used padding to increase clickable area of clickable elements */
        padding: 0 5px;

        img {
          width: 8px;
          height: 4px;
        }
      }
    }

  }

}
