@import "src/styles/variables";

:host {

  .item-node-card {
    /* Sizing */
    height: 80px;
    margin-bottom: 20px;

    padding: $card-content-padding;
    background: $card-bg-color;
    border: $card-border;
    border-radius: $card-border-radius;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    /* Font */
    color: $cobiro-content-font-color;
    font-size: 24px;
    line-height: 31px;

  }

  .children-container {
    margin-left: 20px;

  }

}
