:host {

  box-sizing: border-box;
  position: relative;

  /* Reset browser <button> styles. */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  /*
    The `outline: none` from above works on all browsers, however Firefox also
    adds a special `focus-inner` which we have to disable explicitly. See:
    https://developer.mozilla.org/en-US/docs/Web/HTML/Element/button#Firefox
  */
  &::-moz-focus-inner {
    border: 0;

  }

  /* Sizing. */
  min-width: 2em;
  line-height: 1em;
  padding: 10px 30px;
  border-radius: 5px;

  /*
    Explicitly set the default overflow to `visible`. It is already set
    on most browsers except on IE11 where it defaults to `hidden`.
  */
  overflow: visible;

  background-color: #0087EF;

  /* Font */
  color: #ffffff;
  font-size: 14px;

  &[disabled] {
    cursor: default;
    background-color: gray;

  }

}
